<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!--开启驼峰命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL"></setting>
		<setting name="lazyLoadingEnabled" value="true"></setting>
		<setting name="aggressiveLazyLoading" value="false"></setting>
		<!--开启二级缓存 -->
		<setting name="cacheEnabled" value="true"></setting>
		<!-- 打印查询语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>

	<typeAliases>
		<typeAlias type="java.util.HashMap" alias="myMap" />
	</typeAliases>

	<plugins>
		<!-- PageHelper分页插件 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库 -->
			<!-- <property name="dialect" value="mysql" /> -->
		</plugin>
	</plugins>

	<mappers>
		<mapper resource="mybatis/user/UserMapper.xml" />
	</mappers>
</configuration>